<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body ng-app="myTestApp">

    <h1>Angular w/ Firebase</h1>

    <div style="background-color:#eeeeee">
      <h4>Adding Establishments <br> <small>w/ Jquery </small></h4>
      <input id="txtestablishmentName" type="text" placeholder="Establishment Name" />
      <Br>
      <Br>
      <a href="" id="btnSaveEstablishment">Save Establishment</a>
      <Br><Br>
    </div>

    <Br><Br>

      <div style="background-color:#eeeeee">
        <h4>Adding in Comments <br> <small>w/ Angular</small></h4>
        <div ng-controller="mainCtrl" ng-init="loginUser()">
          <ul>
          <li ng-click="setEstablishment(place.$id)" ng-repeat="place in Places"><b>{{ place.establishment }} {{place.$id}}</b></small>
          <ul><li ng-repeat="comment in place.Comments">{{comment.comment}} - {{comment.displayName}} <img style="border-radius:40px" height="30px" ng-src="{{comment.userPhotoURL}}"></li></ul>
          </li>
          </ul>
          <h4>Pulling in Data <br> <small>w/ Angular</small></h4>
          <div ng-controller="commentCtrl">
            <input ng-model="commenttext" id="txtestablishmentName" type="text" placeholder="Add comment" />
            <Br>
            {{commenttext}}
            <Br>
            <Br>
            <a ng-click="addComment('mooveon')"  href="">Moove On</a>
            <a ng-click="addComment('makemoove')"  href="">Make Mooves</a>

            </li>
            </ul>
          </div>
          <div style="background-color:#eeeeee">
            <h4>Logging In Users <br> <small>w/ Angular </small></h4>
            <p>Hello, {{ authData.facebook.displayName }}</p>
            <a href="#" ng-hide="userLoggedIn" ng-click="loginUser()">Login Using Facebook</a>
            <a href="#" ng-click="logoutUser()">Logout</a>
            <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
            <img ng-show="facebookProfileImg!==''" ng-src="{{facebookProfileImg || '//:0'}}">
            <p ng-if="error">Error: <strong>{{ error }}</strong></p>
            <Br>
            <Br><BR>
            <a href='#' ng-click="setPointsatEstablishment()">Set up Establishment</a>

          </div>
        </div>
      </div>

      <Br><Br>







    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>



    <script>

    angular.module("myTestApp", ["firebase"])
    .controller("mainCtrl", function($scope, $firebaseArray,$firebaseObject,$firebaseAuth,dataService) {
      var placesRef = new Firebase("https://mysweetapp.firebaseio.com/Places");
      var ref = new Firebase("https://mysweetapp.firebaseio.com");
      $scope.auth = $firebaseAuth(ref);
      $scope.Places = $firebaseArray(placesRef);
      $scope.EstablishmentID = 'notSet';
      $scope.theEstablishment = '';
      $scope.userLoggedIn = false;
      $scope.isNewUser = false;

      $scope.auth.$onAuth(function(authData) {
        $scope.authData = authData;
        var userRef = new Firebase("https://mysweetapp.firebaseio.com/Users");
        userRef.once("value", function(snapshot) {
          var userExists = (snapshot.val() !== null);
          console.log('user exists:' + userExists);
          if (userExists === false){
            console.log('the user doesnt exist.. create them.');
            $scope.isNewUser = true;
          }
        });

        if (authData && $scope.isNewUser) {
          // save the user's profile into the database so we can list users,
          // use them in Security and Firebase Rules, and show profiles
            ref.child("Users").child(authData.uid).set({
            provider: authData.provider,
            name: authData.facebook.displayName
          });
          console.log('new user created and saved to the db!');
        }
      })

      $scope.setEstablishment = function(thePlace){
        $scope.EstablishmentID = thePlace;
        $scope.theEstablishment = $firebaseObject(ref.child('Places').child(thePlace));
      }

      $scope.logoutUser = function(){
        $scope.auth.$unauth();
        $scope.userLoggedIn = false;
        console.log('user is now logged out');
        $scope.facebookProfileImg = '';
      }

      $scope.loginUser = function(){

        //TODO: first things first -> check if the user object already exists. If so, then the user
        // is already logged in and we can just pull users facebook creds and set various scope variables,
        // and show the respective view.

        // If no user is logged in, then we need to log them in! We'll run the Facebook auth code.
        // Once logged in, inside the $onAuth callback lets pulls the UID and run a function
        // that checks if that user exists in the database. if it doesn't exists then we'll set new User to true
        // and create them as a user. Finally whether they exist or not, well use the authData object and set
        // the respective variables.


        //check if user is logged in
        var user = ref.getAuth();
        if (user==null){
          //user not logged in
          console.log('user is not logged in');
          //then log them in with facebook
          ref.authWithOAuthPopup("facebook", function(error, authData) {
            if (error) {
              console.log("Login Failed!", error);
            } else {
              console.log("Authenticated successfully with payload:", authData);
              //check if user exists already, or its a new user.
              // After the check and possible save logic, then we will need to set a scope
              // variable that holds the users ID, so we can use it when we save a review.
              $scope.userLoggedIn = true;
              $scope.facebookProfileImg = authData.facebook.profileImageURL
            }
          });
        } else {
          //user is logged in
          console.log("user is already logged in.");
          $scope.facebookProfileImg = user.facebook.profileImageURL;
          $scope.userLoggedIn = true;
        };
      }  // end login user

      $scope.setPointsatEstablishment = function(){
        var placesRef = new Firebase("https://mysweetapp.firebaseio.com/Places/"+ $scope.EstablishmentID);
        placesRef.update({
          pointsNeeded: 2,
          rewardEarned: '$1 off draft beer'
        })
      }


    }) // end main controller

    .controller("commentCtrl", function($scope,$firebaseObject) {

      $scope.addComment = function(moovetype){
        var UserCommentref = new Firebase("https://mysweetapp.firebaseio.com");
        var user = UserCommentref.getAuth();

        var placesRef = new Firebase("https://mysweetapp.firebaseio.com/Places/"+ $scope.EstablishmentID +"/Comments");
        placesRef.push({
          comment : $scope.commenttext,
          user: user.uid,
          displayName:user.facebook.displayName,
          userPhotoURL: user.facebook.profileImageURL
        })
        $scope.addScore(user.uid,moovetype);
      } //end addComment

      $scope.addScore = function(userid,moove){

        // get points needed at establishment
        var pointsNeeded = $scope.theEstablishment.pointsNeeded;

        // get points user has at establishment
        var userEstabRef = new Firebase("https://mysweetapp.firebaseio.com/Users/"+ userid + "/Points/"+$scope.EstablishmentID );
        userEstabRef.once("value", function(snapshot) {
        var scoreSnapshot = snapshot.child("score");
        var userScore = scoreSnapshot.val();

        // if points user has is one less than points needed then
        // increment points in the db and show user they have earned a reward.
        var oneAway = pointsNeeded - 1
        if (oneAway === 1){
          console.log('you are about to earn a reward!');
        } else {
            var pointsAway = pointsNeeded - userScore;
            console.log('you are still '+ pointsAway +' points away!');
        }

        // if points user has is more than one less than points they need increment
        // theire points and show a message that a point was earned.

        // if points they have are equal to the points they need then check
        // to see if the reward they have for the establishment has been claimed.
        // If the reward has not been claimed then show a message that they have a reward
        // waiting to be used. If they have used the reward, then show a message thanking them
        // and to play again next week for a reward.

        });


        // last add count to establishments moove on / mooves made counter.

        return;
        var userRef = new Firebase("https://mysweetapp.firebaseio.com/Users/"+ userid + "/Points/"+$scope.EstablishmentID );
        userRef.update({
          score: 1
        })
      }





    }) // end comment controller


    .service('dataService',function(){



    });


    </script>

    <script>
    $(document).ready(function(){
      $("#btnSaveEstablishment").click(function(){
        var ref = new Firebase("https://mysweetapp.firebaseio.com/Places");
        ref.push({
          establishment: $("#txtestablishmentName").val()
        })
      })
    }) // end doc ready
    </script>
  </body>
</html>
