<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body ng-app="myTestApp">

    <h1>Angular w/ Firebase</h1>






    <div style="background-color:#eeeeee">
      <h4>Adding Establishments <br> <small>w/ Jquery </small></h4>
      <input id="txtestablishmentName" type="text" placeholder="Establishment Name" />
      <Br>
      <Br>
      <a href="" id="btnSaveEstablishment">Save Establishment</a>
      <Br><Br>
    </div>

    <Br><Br>

      <div style="background-color:#eeeeee">
        <h4>Adding in Comments <br> <small>w/ Angular</small></h4>
        <div ng-controller="mainCtrl" ng-init="loginUser()">
          <ul>
          <li ng-click="setEstablishment(place.$id)" ng-repeat="place in Places"><b>{{ place.establishment }} {{place.$id}}</b></small>
          <ul><li ng-repeat="comment in place.Comments">{{comment.comment}}</li></ul>
          </li>
          </ul>
          <h4>Pulling in Data <br> <small>w/ Angular</small></h4>
          <div ng-controller="commentCtrl">
            <input ng-model="commenttext" id="txtestablishmentName" type="text" placeholder="Add comment" />
            <Br>
            {{commenttext}}
            <Br>
            <Br>
            <a ng-click="addComment()"  href="">Save Comment</a>

            </li>
            </ul>
          </div>
          <div style="background-color:#eeeeee">
            <h4>Logging In Users <br> <small>w/ Angular </small></h4>
            <p>Hello, {{ authData.facebook.displayName }}</p>
            <a href="#" ng-click="loginUser()">Login Using Facebook</a>
            <a href="#" ng-click="logoutUser()">Logout</a>
            <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
            <p ng-if="error">Error: <strong>{{ error }}</strong></p>


          </div>
        </div>
      </div>

      <Br><Br>







    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>



    <script>

    angular.module("myTestApp", ["firebase"])
    .controller("mainCtrl", function($scope, $firebaseArray,$firebaseObject,$firebaseAuth,dataService) {
      var placesRef = new Firebase("https://mysweetapp.firebaseio.com/Places");
      var ref = new Firebase("https://mysweetapp.firebaseio.com");
      $scope.auth = $firebaseAuth(ref);
      $scope.Places = $firebaseArray(placesRef);
      $scope.EstablishmentID = 'notSet';
      $scope.userLoggedIn = 'is logged out';

      $scope.auth.$onAuth(function(authData) {
        $scope.authData = authData;

      })


      $scope.setEstablishment = function(thePlace){
        $scope.EstablishmentID = thePlace;
      }



      $scope.logoutUser = function(){
        $scope.auth.$unauth();
        $scope.userLoggedIn = 'is logged out';
      }

      $scope.loginUser = function(){

        //check if user is logged in already.
        // TODO: check if undefined too.. 
        if ($scope.authData === null){
          alert('user is not logged in');
          //then log them in with facebook
          ref.authWithOAuthPopup("facebook", function(error, authData) {
            if (error) {
              console.log("Login Failed!", error);
            } else {
              console.log("Authenticated successfully with payload:", authData);
              //check if user exists already, or its a new user.
              // After the check and possible save logic, then we will need to set a scope
              // variable that holds the users ID, so we can use it when we save a review.
              $scope.userLoggedIn = 'is logged in';
            }
          });

        } else {
          //they are already logged in.
          alert('user already logged in');
        }



        }  // end login user

    })

    .controller("commentCtrl", function($scope,$firebaseObject) {
      $scope.addComment = function(){
        var placesRef = new Firebase("https://mysweetapp.firebaseio.com/Places/"+ $scope.EstablishmentID +"/Comments");
        placesRef.push({
          comment : $scope.commenttext
        })
      } //end addComment
    })


    .service('dataService',function(){



    });


    </script>

    <script>
    $(document).ready(function(){
      $("#btnSaveEstablishment").click(function(){
        var ref = new Firebase("https://mysweetapp.firebaseio.com/Places");
        ref.push({
          establishment: $("#txtestablishmentName").val()
        })
      })
    }) // end doc ready
    </script>
  </body>
</html>
